
<div id="about-page-header">
    <a href="/" class="button sm-none">Back&nbsp;<i class="fa fa-chevron-right"></i></a>
    <div class="image">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5mPylQYOwZk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="grid">
        <div style="font-weight: 800;font-size: 72px; text-align: center;">ABOUT <span style="color: #FDC50B;">US</span></div>
        <div>
            <p>Founded on September 9th, 2009, Starlight is the trusted and experienced agency for your extraordinary event experience. We have been creating more than 1.000 online and offline events designed for small to large-sized companies with an international presence. </p>
            <p>We implement a mandatory digital monitoring system to make all supervision and database, under close control</p>
            <p>In 2021, won the SWA - MIX Magazine award as Most Creative Brand Communication: Brand Activation Category & Integrated Campaign Category.</p>
            <p>We believe in <strong>BRAND EXPERIENTIAL</strong></p>
        </div>
    </div>
</div>
<div id="mission-vision">
    <h1>MISSION AND VISION</h1>
    <div class="grid">
        <div>
            <div style="font-size: 72px;color: #fff;margin-top: 20px; max-width: 100px;">Our <span style="color: #FDC50B;">Mission</span></div>
            <div style="color: #fff;max-width: 258px;font-weight: 300;font-size: 27px;">We help Marketers to excite the world with their brand.</div>
        </div>
        <div>
            <img src="./assets/img/mission-vision.png" alt="" width="100%">
        </div>
        <div>
            <div style="font-size: 72px;color: #fff;text-align: end;margin-top: 20px; max-width: 200px; margin-left: auto;margin-right: 0;;">
                Our <span style="color: #FDC50B;">Vision</span>
            </div>
            <div style="color: #fff;max-width: 306px;font-weight: 300;font-size: 27px;text-align: right;margin-left: auto;">
                Create an <span style="color: #FDC50B;">AWESOME CONSUMER EXPERIENCE</span> through Content, Context, Data & Technology
            </div>
        </div>
    </div>
</div>
<div id="our-value">
    <div class="sm-none">
        <h1>OUR VALUE</h1>
        <div class="grid">
            <div style="grid-row: span 2; background: url('./assets/img/our-value.svg') center center no-repeat;height: 480px;">
            </div>
            <div>
                <div>
                    We excite the world with experiential ideas from offline to online with EPIC Value
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Excellence</th>
                            <th>Passionate</th>
                            <th>Impactful</th>
                            <th>Creativity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Excellence in services and products that we make</td>
                            <td>Passionate on everything we do</td>
                            <td>Impactful in changing the world</td>
                            <td>Creativity is our starting point</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="md-none">
        <h1 class="text-center">OUR VALUE</h1>
        <h3>We excite the world with  experiential ideas from offline to online with EPIC Value</h3>
        <div style="background: url('./assets/img/our-value.svg') center center no-repeat;height: 287px; background-size: contain;"></div>
        <table>
            <thead>
                <tr>
                    <th>Excellence</th>
                    <td>Excellence in services and products that we make</td>
                </tr>
                <tr>
                    <th>Passionate</th>
                    <td>Passionate on everything we do</td>
                </tr>
                <tr>
                    <th>Impactful</th>
                    <td>Impactful in changing the world</td>
                </tr>
                <tr>
                    <th>Creativity</th>
                    <td>Creativity is our starting point</td>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="teams">
    <h1>OUR TEAM</h1>
    <h1 class="sm-none"><span style="color: #FDC50B;">Teamworks makes the dream work </span></h1>
    <div class="grid">
        <div class="people">
            <img src="./assets/img/team-1.jpg" alt="">
            <h3>Anne Harjati</h3>
            <p>Chief Marketing Officer</p>
        </div>
        <div class="people">
            <img src="./assets/img/team-2.jpg" alt="">
            <h3>Boediarto Soerjonoto</h3>
            <p>Managing Director</p>
        </div>
        <div class="people">
            <img src="./assets/img/team-3.jpg" alt="">
            <h3>Garry Barens</h3>
            <p>Project Director</p>
        </div>
        <div class="people">
            <img src="./assets/img/team-4.jpg" alt="">
            <h3>Yustina Adriyani</h3>
            <p>Project Director</p>
        </div>
        <div class="people">
            <img src="./assets/img/team-5.jpg" alt="">
            <h3>Herawati Fitria</h3>
            <p>Client Service Director</p>
        </div>
        <div class="people">
            <img src="./assets/img/team-6.jpg" alt="">
            <h3>Alfanus</h3>
            <p>Creative Director</p>
        </div>
        <div class="people">
            <img src="./assets/img/team-7.jpg" alt="">
            <h3>Galih Windyarto</h3>
            <p>Multimedia & Production Partner</p>
        </div>
        <div class="people">
            <img src="./assets/img/team-8.jpg" alt="">
            <h3>Julius Cesario</h3>
            <p>Digital IT Partner</p>
        </div>
    </div>
</div>
<div id="client">
    <h1 class="text-center font-primary">CLIENT</h1>
</div>